#!/sbin/openrc-run
name="x-ui"
command="/usr/local/x-ui/x-ui"
WORKING_DIR="/usr/local/x-ui/"

start(){
   cd $WORKING_DIR
   start-stop-daemon --start --background --exec $command run
}
stop(){
   start-stop-daemon --stop --exec $command
}
depend(){
   need networking
}
